:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 6rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.form label {
  color: var(--black);
}

.form select {
  background-color: aliceblue;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size:1.8rem;
}

.form [type = "submit" ] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 300ms ease;
}

.form [type="submit"]:hover {
  background-color: #0cb387;
}

.result-wrapper {

  margin-top: 5rem;

}

.result-wrapper h2 {
  font-size: 3.8rem;
  color: var(--black);
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  align-items: center;
}

.result img{
  width: 100%;
}

.result p {
  font-size: 1.6rem;
  margin: 0 0 1rem;
}

.result span {
  font-weight: 700;
}

